html{
  box-sizing: content-box;
}

.home {
  padding: 5%;
}

#root{
  width: 100%;
}


@media screen and (min-width: 768px) {
  .home {
    padding: 15%;
    padding-top: 2%;
    width: 50%;
    margin: auto;
  }
}