
header{
    width: 100%;
    padding-top: 20px;
    height: auto;
    background: black;

}
header > img{
    width: 90%;
    padding: 5%;
}

nav{
color: white;
display:  flex;
gap: 5px;
flex-direction: column;
font-size: 0.875rem;
font-weight: bold;
padding: 5%;
}

.headerlinks, header button{
    opacity: 0.85;
}

.headerlinks:hover, header button:hover{
    opacity: 1;
    transform-origin: left;
    transform: scale(1.2);
}

nav > a, nav > button{
    color: white;
    text-decoration: none;
}
nav > a:visited{
    color: white;
}
header p{
    color: white;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

header button{
    opacity: 0.85;
    border: none;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

@media screen and (min-width: 768px) {
    header > img{ width: 50%;
        max-width: 500px;
    padding-bottom: 20px;
    }
    nav{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .headerlinks:hover{
        transform-origin: center;
    }
  }